@model Nutricionista.Models.Depoimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Depoimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesDescricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumChave }) |
    @Html.ActionLink("Back to List", "Index")
</p>
